<div class="share-page">
    <!--Share this on &rarr;-->
    <!--MOB SHARE BEGIN-->
<div class="-mob-share-ui-button -mob-share-open">分享这篇文章</div>
<div class="-mob-share-ui -mob-share-ui-theme -mob-share-ui-theme-slide-top" style="display: none">
    <ul class="-mob-share-list">
        <li class="-mob-share-weibo"><p>微博</p></li>
        <li class="-mob-share-weixin"><p>微信</p></li>
        <li class="-mob-share-qzone"><p>QQ空间</p></li>
        <li class="-mob-share-qq"><p>QQ好友</p></li>
        <li class="-mob-share-douban"><p>豆瓣</p></li>
        <li class="-mob-share-facebook"><p>Facebook</p></li>
        <li class="-mob-share-twitter"><p>Twitter</p></li>
        <li class="-mob-share-google"><p>Google+</p></li>
        <li class="-mob-share-tumblr"><p>Tumblr</p></li>
        <li class="-mob-share-instapaper"><p>Instapaper</p></li>
    </ul>
    <div class="-mob-share-close">取消</div>
</div>
<div class="-mob-share-ui-bg"></div>
<script id="-mob-share" src="http://f1.webshare.mob.com/code/mob-share.js?appkey=1d7704b6690aa"></script>
<!--MOB SHARE END-->
</div>