<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
      <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
      {% include css.html %}
  </head>

  <body class="home overflow-hidden">
    {% include header.html %}
    {% include main.html %}
    {% include js.html %}
    <!-- {% include analytics.html %} -->
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/prettify/r298/prettify.min.css">
<script src="http://cdn.bootcss.com/prettify/188.0.0/prettify.min.js"></script>
<script type="text/javascript">
  window.onload = function() {
    prettyPrint();
  }
  </script>
  </body>
</html>
